
<h1 class="error-title">Oops!</h1>

<p class="error-msg"><%= @message %></p>

<% if session[:bergcloud_error_url] %>
	<p class="error-msg"><a href="<%= session[:bergcloud_error_url] %>">Return to BERG Cloud</a></p>
<% end %>