<!DOCTYPE html>
<html>
<head>
  <title><%= format_title %></title>
  <style type="text/css">
    body {
      background: #F8F6F3;
      color: #000;
      font-family: Helvetica, Arial, sans-serif;
      margin: 10px;
    }
    .container {
      border: 1px solid #E8E6E3;
      background: #fff;
      padding: 1em 20px;
      max-width: 420px;
      margin: 0 auto;
    }
    .config-title {
      margin: 0 0 0.5em 0;
      font-size: 1.5em;
    }
    .config-intro {
      font-weight: bold;
      margin: 1em 0;
      line-height: 1.3em;
    }
    .config-error {
      color: #900;
    }
    .config-list,
    .config-list li {
      margin: 0;
      padding: 0; 
    }
    .config-list li {
      list-style-type: none;
      line-height: 1.5em;
      color: #999;
    }
    .config-list-properties li {
      margin-left: 20px;
    }
    .config-list li label {
      color: #000;
      cursor: pointer;
      font-weight: bold;
    }
    .config-submit {
      background: #FED84D;
      border: 1px solid #EEC83D;
      color: #000;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 1em;
      font-weight: bold;
      padding: 0.5em 10px;
      margin-left: 40px;
    }
    .config-submit:hover {
      background: #FCCA2E;
      cursor: pointer;
    }

    .error-title {
      margin: 0;

    }
    .error-msg {
      line-height: 1.4em;
    }
  </style>
</head>
<body>

  <div class="container">

    <%= yield %>

  </div> <!-- .config --> 
</body>
</html>
