<!DOCTYPE html>
<html>
<head>
  <title>Your Best Tweets</title>
  <style type="text/css">
    body {
      width: 384px;
      padding: 0;
      margin: 0;
      font-family: Arial, sans-serif;
    }
  </style>
</head>
<body>
  <p>Doing <%= settings.period %>.</p>

</body>
</html>
